.tabs {
    display: flex;
    flex-direction: column;
}

.tabs__header {
    display: flex;
    margin-bottom: 3vh;
}

.tabs__header > *:not(first-child){
    margin-left: 1vw;
}

.tabs__header__tab {
    cursor: pointer
}

.active {
    color: aqua;
}
