.preview {
    height: 30vh;
    width: 30vw;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
}

.preview__model {
    background: #a05ce3;
    border-radius: 50%;
    height: 100px;
    width: 100px
}

.preview__button {
    align-self: flex-end;
}
