button {
    /*width: 5vw;*/
    padding: 5px;
}

.controls {
    max-width: 30vw;
    flex: 0 0 30vw;
}

.snippets {
    display: flex;
    flex-direction: column;
}

.snippets > * {
    margin-top: 1vh;
}

.snippets__code-snippet {
    font-size: 1.5rem;
    min-height: 30vh;
    background: white;
    color: #a05ce3;
}

.animation__form {
    display: flex;
    flex-direction: column;
}

.animation__form > * {
    margin-top: 1vh;
}

.animation__form__group {
    display: flex;
    flex-direction: column;
}

.control {
    flex: 1 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.control > * {
    flex: 0 0 auto;
}

.control--keyframe > * {
    margin-right: 0.5vw;
}

.control--name {
    margin-right: 1vw;
}

.add-control {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2vh;
}

.add-control > * {
    flex: 0 0 auto;
    margin-right: 1vw;
}

.control--keyframe--text {
    width: 30px;
}
