.App {
  font-size: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: white;

}

.content {
  max-width: 80vw;
  display: flex;
  justify-content: center;
}

.content > * {
  /*min-width: 50%;*/
}

.content > *:not(:first-child) {
  margin-left: 2.5vw
}
